@import './../../style.scss'; /* Import global styles */
@import './../../_variables.scss'; /* Import global variables */

.layout {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px; /* Space between nav and outlet */
	
	nav {
		width: 100%;
		max-width: 1200px; /* Maximum width for the nav */
		padding: 20px 0; /* Padding around the nav content */
		margin: 0 auto;
		
		ul {
			display: flex;
			justify-content: space-around; /* Distribute li evenly */
			padding: 0;
			margin: 0;
			list-style-type: none;
			
			li {
				a {
					color: $navLightBlack;
					transition: color 0.3s ease; /* Smooth color transition */
					font-weight: bold;
					text-decoration: none;
					
					&:hover {
						color: $blueHover; /* Hover color */
					}
				}
			}
		}
	}
	
	.content {
		width: 100%;
		max-width: 1200px; /* Same maximum width as nav for consistency */
		padding: 20px; /* Padding around the content */
		margin: 0 auto;

		h1.main-header {
			margin-bottom: 20px;
			text-align: center;
		}
	}
}
