/* Global styles apply from Layout.scss file already */
@import './../_variables.scss'; /* Import global variables */

.weather-data-display {
	max-width: 800px;
	padding: 20px;
	margin: auto;
    border: 1px solid $lightGrayBorder;
	border-radius: 8px;
	box-shadow: 0 4px 6px $boxShadow;
	
	.search-input {
		width: 100%;
		padding: 8px;
		margin-bottom: 20px;
		border: 1px solid $grayBorder;
		border-radius: 4px;
		font-size: 14px;
		
		&:focus {
			border-color: $blueHover; /* Change the border color on focus */
			outline: none; /* Remove the focus outline */
		}
	}
	
	.city-card {
		padding: 16px;
		border: 1px solid $grayBorder;
		border-radius: 4px;
		background-color: $whiteBackground;
		
		h2 {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: bold;
		}

		p {
			color: $grayText;
		}
		
		p:not(:first-of-type) {
			margin-top: 8px;
		}
		
		button {
			padding: 8px 12px;
			border: none;
			border-radius: 4px;
			color: $whiteBackground;
			background-color: $blueHover;
			cursor: pointer; /* Pointer cursor on hover */
			
			&:hover {
				background-color: darken($blueHover, 10%); /* Slightly darker blue on hover */
			}
		}

		button:first-of-type {
			margin-top: 20px;
			margin-right: 10px;
		}
		
		button:not(:first-of-type) {
			margin-top: 8px;
		}
		
		button:disabled {
			opacity: 0.6;
			background-color: $disabled;
			cursor: not-allowed;
		}
	}

	.city-card:not(:last-child) {
		margin-bottom: 20px;
	}
}
