.weather-data-display {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	
	.search-input {
		font-size: 14px;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 100%;
		margin-bottom: 20px;
		
		&:focus {
			outline: none; // Remove the focus outline
			border-color: #007bff; // Change the border color on focus
		}
	}
	
	.city-card {
		background-color: #fff;
		border: 1px solid #eee;
		border-radius: 4px;
		padding: 16px;
		margin-bottom: 20px;
		
		h2 {
			margin-top: 0;
			font-size: 18px;
			font-weight: bold;
		}
		
		p {
			margin-top: 8px;
			color: #666;
		}
		
		button {
			background-color: #007bff;
			color: white;
			border: none;
			border-radius: 4px;
			cursor: pointer; // Pointer cursor on hover
			padding: 8px 12px;
			margin-top: 8px;
			
			&:hover {
				background-color: darken(#007bff, 10%); // Slightly darker blue on hover
			}
		}
		button:first-of-type {
			margin-right: 10px;
		}
	}
}
